body {
	margin: 0px;
	background-image: url("../img/l-bg.jpg");
	background-size: 100% ;
	margin-left: 50px;
}

p {
	font-family: PT Serif;
}

.email-us p {
	color: black;
	font-size: 62px;
	text-align: right;
	margin-left: 730px;
}

.e-contact p {
	color: black;
	font-size: 28px;
	text-align: right;
}

.c-l-j-team {
	margin-right: 100px;
}

.logo img {
	height: 120px;
	width: 120px;
	margin-left: 85%;
}

.j-team-a button {
	background-color: lightblue;
    border: none;
    padding: 6px 19px;
    border-radius: 40px;
   
}

.j-team-a a {
	color: black;
	font-size: 17px;
	text-decoration: none;
}

.j-team-a {
	text-align: right;
}


/* Media Queries*/

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 1050px) {

		body {
			background-size: 232%;
	   		background-position-x: center;
   			background-position-y: 209px;
   			}

   		.home-text b {
   			font-size: 80px;
   			}

   		.r-date p {
   			font-size: 25px;
   		}
   		
   	}

@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 770px) {

		body {
			background-size: 240%;
			background-position-x: 1605px;
			background-position-y: 160px; 
		}

   		.home-text b {
   			font-size: 90px;
   			}

   		
	}

@media only screen
	and (min-device-width: 430px)
	and (max-device-width: 770px) {

		body {
			background-size: 190%;
			background-position-x: center;
			background-position-y: 50px; 
		}

   		.home-text b {
   			font-size: 100px;
   			}

   		
	}

@media only screen
	and (min-device-width: 775px)
	and (max-device-width: 1025px) {

		body {
			background-size: 145%;
			background-position-x: center;
			background-position-y: -40px; 
		}

   		.home-text b {
   			font-size: 110px;
   			}

   		
	}