body {
	margin: 0px;
	background-image: url("../img/l-bg.jpg");
	background-size: 100% ;
	margin-left: 50px;
}

p {
	font-family: PT Serif;
}

.email-us p {
	color: black;
	font-size: 60px;
	text-align: right;
	margin-left: 730px;
}

.e-contact p {
	color: #000;
	font-size: 28px;
	text-align: right;
}

.c-l-j-team {
	margin-right: 90px;
}

.logo img {
	height: 120px;
	width: 120px;
	margin-left: 85%;
}

.j-team-a button {
	background-color: black;
    border: none;
    padding: 10px 25px;
    border-radius: 40px;
   
}

.j-team-a a {
	color: white;
	font-size: 17px;
	text-decoration: none;
}

.j-team-a {
	text-align: right;
}


/* Media Queries*/

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 900px) {

		body {
			background-image: url("../img/l-bg-m.jpg");
			background-size: 200%;
	   		background-position-x: center;
   			background-position-y: -40px;
   			}
		.j-team-a a {
			font-size: 40px;
		}
		.email-us p {
			margin-left: 0px;
			font-size: 98px;
		}

   		.home-text b {
   			font-size: 80px;
   			}

   		.r-date p {
   			font-size: 25px;
  }
   		.c-l-j-team {
    margin-right: 60px;
}
   		
   	}

@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 770px) {

		body {
			background-image: url("../img/l-bg-m.jpg");
			background-size: 200%;
			background-position-x: 1605px;
			background-position-y: -40px; 
		}
.c-l-j-team {
    margin-right: 60px;
}
   		.home-text b {
   			font-size: 90px;
   			}

		.email-us p {
			margin-left: 0px;
			font-size: 98px;
		}
   		.j-team-a a {
			font-size: 40px;
		}
 
	}

@media only screen
	and (min-device-width: 430px)
	and (max-device-width: 770px) {

		body {
			background-image: url("../img/l-bg-m.jpg");
			background-size: 200%;
			background-position-x: center;
			background-position-y: -40px; 
		}
.c-l-j-team {
    margin-right: 60px;
}
		.email-us p {
			margin-left: 0px;
			font-size: 98px;
		}
   		.home-text b {
   			font-size: 100px;
   			}

   		.j-team-a a {
			font-size: 40px;
		}
 
   		
   		
	}

@media only screen
	and (min-device-width: 775px)
	and (max-device-width: 1025px) {

		body {
			background-image: url("../img/l-bg-m.jpg");
			background-size: 200%;
			background-position-x: center;
			background-position-y: -40px; 
		}
.c-l-j-team {
    margin-right: 60px;
}
   		.j-team-a a {
			font-size: 40px;
		}
		.email-us p {
			margin-left: 0px;
			font-size: 98px;
		}
   		.home-text b {
   			font-size: 110px;
   			}

   		
	}