p {
	font-family: PT Serif;
	}

a {
	font-family: PT Serif;
	}

.j-team-a a {
	color: black;
	font-size: 17px;
}

.j-team-a {
	text-align: right;
}

.j-team-a button {
	background-color: lightblue;
    border: none;
    padding: 6px 19px;
    border-radius: 17px;
    margin-right: 105px;
}

body {
	margin: 0px;
	background-image: url("../img/l-bg.jpg");
	background-size: 100% ;
	margin-left: 50px;
}

.home-text b {
	font-family: pt serif;
	font-size: 300px;
	line-height: 1em;
	text-transform: none;
	letter-spacing: -.01em;
	font-style: normal;
	color: black;
	

}

.home-text {
	text-align: right;
	margin-right: 100px;
    margin-left: 365px;
}

.logo img {
	height: 120px;
	width: 120px;
	margin-left: 85%;
}

.r-date p {
	font-size: 25px;
}

/* Media Queries*/

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 375px) {

		body {
			background-image: url("../img/l-bg-m.jpg");
			background-size: 125%;
	   		background-position-x: center;
   			background-position-y: -40px;
   			}

   		.home-text b {
   			font-size: 280px;
   			}

   		.r-date p {
   			font-size: 45px;
   		}

   		.logo img {
			margin-left: 80%;
		}
   		.j-team-a a {
			font-size: 40px;
		}
   	}

@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 770px) {

		body {
			background-image: url("../img/l-bg-m.jpg");
			background-size: 200%;
			background-position-x: 1605px;
			background-position-y: -40px; 
		}

   		.r-date p {
   			font-size: 45px;
   		}

   		.logo img {
			margin-left: 80%;
		}
   		.home-text b {
   			font-size: 280px;
   			}
		.j-team-a a {
			font-size: 40px;
		}
   		
	}

@media only screen
	and (min-device-width: 430px)
	and (max-device-width: 770px) {

		body {
			background-image: url("../img/l-bg-m.jpg");
			background-size: 200%;
			background-position-x: center;
			background-position-y: -40px; 
		}
   		.r-date p {
   			font-size: 45px;
   		}

   		.logo img {
			margin-left: 80%;
		}
   		.home-text b {
   			font-size: 180px;
   			}
		.j-team-a a {
			font-size: 40px;
		}
   		
	}

@media only screen
	and (min-device-width: 775px)
	and (max-device-width: 1025px) {

		body {
			background-image: url("../img/l-bg-m.jpg");
			background-size: 200%;
			background-position-x: center;
			background-position-y: -40px; 
		}

   		.home-text b {
   			font-size: 200px;
   			}

   		
	}